body {
  background-color: #eee;
}

.a-plus {
  background-color: #ff9999;
}
.a {
  background-color: #ffcc99;
}
.b {
  background-color: #99ccff;
}
.c {
  background-color: #ffff99;
}
.d {
  background-color: #99ff99;
}
.p {
  background-color: #ffccd8;
}
.f {
  background-color: #e599ff;
}
.nin {
  background-color: #ffddcc;
}
.ryu {
  background-color: #cccccc;
}
